@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Poppins-Regular.woff2') format('woff2'),
    url('../fonts/Poppins-Regular.woff') format('woff'),
    url('../fonts/Poppins-Regular.ttf') format('truetype'),
    url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*{
    padding: 0;
    margin: 0;
}

header{
    background-color: #181818;
    padding: 24px 0;
}

.header-container{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    margin-left: 32px;
    display: inline-block;
}

header ul {
    display: flex;
    list-style: none;
    align-items: center;
}

header ul li:first-of-type{
    display: inline-block;
    margin: 0 56px 0 0;
    text-decoration: none;
}

header ul li:first-of-type a{
    font-size: 13px;
}

header ul li a{
    text-decoration: none;
    font: 15px/20px 'Poppins';
    color: #FFFFFF;
    display: inline-block;
}

header ul li{
    margin-right: 32px;
}

header ul li:nth-child(4){
    margin-right: 31px;
}

header ul li:last-of-type{
    margin-right: 20px;
    padding: 9px 20px 13px 20px;
    background-color: #FFFFFF;
    border-radius: 14px;
}

header ul li:last-of-type a{
    font-size:16px;
    color: #000000;
}

.about{
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 71px;
}

.div-about{
    max-width: 580px;
}

.div-about h2{
    font: 14px/20px 'Poppins';
    text-align: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
    margin-bottom: 1px;

}

.div-about h1{
    font: 54px/59px 'Poppins';
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 18px;
}

.div-about p{
    font: 14px/20px 'Poppins';
    text-align: center;
    color: #C0C0C0;
}

.fixed-information li{
    font: 12px/12px 'Poppins';
    font-style: normal;
    color: #FFFFFF;
    display: inline-flex;
    margin-left: 16px;
}

.fixed-information{
    position: absolute;
    bottom: 41px;
    right: 40px;
    list-style: none;
}

.fixed-information li:before{
    content: "";
    background-image: url("../images/time.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}

.fixed-information li:nth-child(2):before{
    content: "";
    background-image: url("../images/objectiv.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}

.fixed-information li:nth-child(3):before{
    content: "";
    background-image: url("../images/iso.svg");
    width: 32px;
    height: 16px;
    display: block;
    margin-right: 7px;
}

.fixed-information li:last-of-type:before{
    content: "";
    background-image: url("../images/geoposition.svg");
    width: 10px;
    height: 16px;
    display: block;
    margin-right: 5px;
}

.about-fuji{
    background-image: url("../images/background_fuji.jpg");
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.fuji-present{
    max-width: 300px;
    margin-right: 62px;
}

.fuji-present h3{
    font: 14px/20px 'Poppins';
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.fuji-present p{
    font: 14px/20px 'Poppins';
    font-style: normal;
    color: #C0C0C0;
}

.fixed-information-fuji{
    position: absolute;
    bottom: 41px;
    right: 40px;
    list-style: none;
}

.fixed-information-fuji li{
    font: 12px/12px 'Poppins';
    font-style: normal;
    color: #FFFFFF;
    display: inline-flex;
    margin-left: 16px;
}

.fixed-information-fuji li:before{
    content: "";
    background-image: url("../images/time.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}

.fixed-information-fuji li:nth-child(2):before{
    content: "";
    background-image: url("../images/objectiv.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}

.fixed-information-fuji li:nth-child(3):before{
    content: "";
    background-image: url("../images/iso.svg");
    width: 32px;
    height: 16px;
    display: block;
    margin-right: 7px;
}

.fixed-information-fuji li:last-of-type:before{
    content: "";
    background-image: url("../images/geoposition.svg");
    width: 10px;
    height: 16px;
    display: block;
    margin-right: 5px;
}

.about-costa-rica{
    background-image: url("../images/background_costa_rica.jpg");
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.costa-rica-present{
    max-width: 300px;
    margin-right: 60px;
}

.costa-rica-present h3{
    font: 14px/20px 'Poppins';
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.costa-rica-present p{
    font: 14px/20px 'Poppins';
    font-style: normal;
    color: #C0C0C0;
}

.fixed-information-costa-rica{
    list-style: none;
    position: absolute;
    bottom: 41px;
    right: 40px;
}

.fixed-information-costa-rica li{
    font: 12px/12px 'Poppins';
    font-style: normal;
    color: #FFFFFF;
    display: inline-flex;
    margin-left: 16px;
}

.fixed-information-costa-rica li:before{
    content: "";
    background-image: url("../images/time.svg");
    width: 15px;
    height: 16px;
    display: block;
    margin-right: 6px;
}

.fixed-information-costa-rica li:nth-child(2):before{
    content: "";
    background-image: url("../images/objectiv.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}

.fixed-information-costa-rica li:nth-child(3):before{
    content: "";
    background-image: url("../images/iso.svg");
    width: 32px;
    height: 16px;
    display: block;
    margin-right: 7px;
}

.fixed-information-costa-rica li:last-of-type:before{
    content: "";
    background-image: url("../images/geoposition.svg");
    width: 10px;
    height: 16px;
    display: block;
    margin-right: 5px;
}

.clients-container{
    padding: 113px 0 140px 0;
    background-color: #000000;
}

.clients-container h2{
    font: 40px/42px 'Poppins';
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.clients-container p{
    font: 24px/30px 'Poppins';
    font-style: normal;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}

.clients-logo{
    display: flex;
    max-width: 1076px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

.about-nepal{
    background-image: url("../images/background_nepal.jpg");
    background-size: cover;
    height: 100vh;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nepal-present{
    max-width: 300px;
    margin-right: 60px;
}

.nepal-present h3{
    font: 14px/20px 'Poppins';
    font-style: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.nepal-present p{
    font: 14px/20px 'Poppins';
    font-style: normal;
    color: #C0C0C0;
}

.fixed-information-nepal{
    list-style: none;
    position: absolute;
    bottom: 41px;
    right: 40px;
}

.fixed-information-nepal li{
    font: 12px/12px 'Poppins';
    font-style: normal;
    color: #FFFFFF;
    display: inline-flex;
    margin-left: 16px;
}

.fixed-information-nepal li:before{
    content: "";
    background-image: url("../images/time.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}

.fixed-information-nepal li:nth-child(2):before{
    content: "";
    background-image: url("../images/objectiv.svg");
    width: 16px;
    height: 16px;
    display: block;
    margin-right: 6px;
}

.fixed-information-nepal li:nth-child(3):before{
    content: "";
    background-image: url("../images/iso.svg");
    width: 32px;
    height: 16px;
    display: block;
    margin-right: 7px;
}

.fixed-information-nepal li:last-of-type:before{
    content: "";
    background-image: url("../images/geoposition.svg");
    width: 10px;
    height: 16px;
    display: block;
    margin-right: 5px;
}

.help-container{
    background-color: #000000;
    display: flex;
    padding: 113px 0 108px 0;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.help{
    max-width: 600px;
}

.help h2{
    font: 40px/42px 'Poppins';
    font-style: normal;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.help h3{
    font: 24px/30px 'Poppins';
    font-style: normal;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 22px;
}

.btn-help{
    padding: 5px 10px 5px 4px;
    background-color: #FFFFFF;
    border-radius: 14px;
    display: flex;
    align-items: center;
}

.text-btn{
    font: 16px/20px 'Poppins';
    font-style: normal;
    text-align: center;
    letter-spacing: 0.4px;
    color: #000000;
    text-decoration: none;
    margin-left: 6px;
}


